<! -- If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise the coach will answer I don't care, get dressed and go to work! -->

<h2> Stupid Coaching </h2>

<p> <%= @search %> </p>
<p> -You</p>

<p> <%= @answers %> </p>
<p> -Coach </p>

<%= link_to("Ask me another question", ask_path) %>
